/*  your css code here. If applicable */
*{
	background-color: rgb(135,206,235);
}
.first{
		background-color: black;
		color: white;
}
.third{
	color:red;
}
ul{
	width: 50%;
	padding:10px;
}
.st{
	background-color:white;
	font-size: 22px;
}
.nd{
	background-color:gray;
}
.rd{
	background-color:pink;
}
.th{
	background-color:gray;
}
.thh{
	background-color:white;
	font-size: 22px;
}